{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <h1>{% trans "Sign in Rango"%}</h1>

    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column">
{#            action="{% url 'login' %}#}
            <div class="ui segment">
                <form class="ui form" role="form" method="post" action=".">
                    {% csrf_token %}
                     <div class="field">
                         <label for="id_password2">{% trans "Username:"%}</label>
                         <input class="form-control" placeholder="{% trans "Username"%}" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
                     </div>

                     <div class="field">
                         <label for="id_password2">{% trans "Password:"%}</label>
                         <input type="password" class="form-control" placeholder="{% trans "Password"%}" id="id_password" name="password"  required />
                     </div>

                    <button type="submit" value="Submit" class="ui button">Sign in</button>
                </form>
            </div>

            <div class="ui horizontal divider">{% trans "or"%}</div>

            <a class="ui circular google plus icon button" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
              <i class="google plus icon"></i>
            </a>

            <a class="ui circular facebook icon button" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" >
              <i class="facebook icon"></i>
            </a>
{#            <div class="ui divider"></div>#}
            <p>{% trans  "Not a member? "%} <a href="{% url 'register' %}">{% trans "Sign up here"%}</a>!</p>
        
        </div>
        <div class="two wide column"></div>
    </div>
{% endblock %}

