{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block title %}
    Logout
{% endblock %}

{% block body %}
    {% blocktrans %}
        <h1>Logged out</h1>

        <p>You are now logged out.</p>
    {% endblocktrans %}
{% endblock %}