{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block title %} {% trans "Profiles"%} {% endblock %}

{% block body %}
     <h1>{% trans "Profiles"%}</h1>

    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div class="ui green segment">
                <div class="ui link items">
                    {% if profiles %}
                        {% for profile in profiles %}
                              <div class="item">
                                <div class="ui tiny image">
                                    {% if profile.picture %}
                                        <img src="{{profile.picture.url}}">
                                    {% else %}
                                        <img src="{% static 'images/profile.png' %}">
                                    {% endif %}
                                </div>
                                <div class="middle aligned content" id="profile">
                                  <div class="header">{{ profile.user.username }}</div>
                                  <div class="description">
                                      <i class="mail icon"></i><label>{{ profile.user.email }}</label><br>
                                      <i class="info icon"></i><label>{{ profile.website }}</label>
                                  </div>
                                </div>
                              </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="two wide column"></div>
    </div>
{% endblock %}