{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans "Form Registration"%}
{% endblock %}


{% block body %}
    <h1>{% trans "Register Here"%}</h1>

     <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column">
{#            {% url 'register' %}" enctype="multipart/form-data"#}
            <form class="ui form" id="user_form" role="form" method="post" action=" url 'register' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="field" >
                     <label for="id_username">{% trans "Username:"%}</label>
                     <input id="id_username" maxlength="30" name="username" type="text"  placeholder="{% trans "Enter username"%}"/></p>
                </div>
                 <div class="field">
                     <label for="id_email">E-mail:</label>
                     <input id="id_email" name="email" type="email" placeholder="{% trans "Enter e-mail"%}" /></p>
                 </div>
                <div class="field">
                     <label for="id_password1">{% trans "Password:"%}</label>
                     <input id="id_password1" name="password1" type="password" placeholder="{% trans "Enter password"%}" /></p>
                </div>
                <div class="field">
                     <label for="id_password2">{% trans "Password (again):"%}</label>
                     <input id="id_password2" name="password2" type="password" placeholder="{% trans "Enter password again"%}" /></p>
                </div>

                <button type="submit" class="ui button">{% trans "Register"%}</button>

                <div class="ui horizontal divider">{% trans "or"%}</div>

                <a class="ui circular google plus icon button" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
                  <i class="google plus icon"></i>
                </a>

                <a class="ui circular facebook icon button" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" >
                  <i class="facebook icon"></i>
                </a>
            </form>
        </div>
        <div class="two wide column"></div>
    </div>
{% endblock %}

