{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "Registration Complete"%}
{% endblock %}

{% block body %}
{#    <h1>Registration Complete</h1>#}

    <div class="ui visible green message">
        <div class="header">
            {% trans "Registration Complete"%}
        </div>
        <p><strong>{% trans "You are now registered."%} </strong></p>


{#        <div class="ui label">#}
            <a href="{% url 'index' %}">{% trans "Home"%}
            <i class="home icon"></i></a>
{#        </div>#}

    </div>

{% endblock %}