body{
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    width:100%;
    min-height:100%;
}

section{
    width:100%;
    height:100%;
    margin: 0% 0% 0% 0%;
}

header{
    min-height:15%;
    margin: 0% 0% 0% 0%;
    text-align: center;
    width: 100%;
}

article{
    text-align: center;
    min-height: 75% !important;
    padding-top: 5%;
    /*margin: 0% 0% 0% 0%;*/
}

footer{
    min-height:10%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    text-align: center;
    background: #000;
    color: #FFF;
}

#img-home{
    width: 20%;
    height: 50px;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    float: left;
}

#banner{
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    width: 100%;
    height: 200px;
}

#menu-categorias{
    padding-top: 5%;
}

#group-buttons{
    float: right;
}

#div-view-likes{
    /*float: left;*/
    padding-top: 1.5%;
}

.thead-bold{
    font-weight: bold;
}
.form-label{
    float: left;
}

/* Semantic */
select.ui.dropdown{
    background-color: #fff;
    color: #909090;
}

.ui.compact.menu .item:last-child{
    color: #909090;
}

.ui.compact.menu .item:last-child{
    color: #909090;
}

.ui.form .field>label{
    float:left;
}

#profile{
    text-align: left;
}

#label-register{
    text-align: left;
    font-weight: bold;
}