{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block title %}{% trans "About" %}{% endblock %}

{% block body %}
        <h1>{% trans "About Rango" %}</h1>


    <div>
        {% blocktrans %}
            <p>This is <b>Rango's about page.</b></p>

            <p>Here's a picture of Rango!</p>
        {% endblocktrans %}

        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" id="picture-rango" />
    </div>

{#    exemplos seção 18: usando js#}
{#    <div>#}
{#        <button onClick="alert('You clicked the button using Javascript.');">Click Me - I'm run Javascript </button>#}
{#        <button id="about-btn">Click Me - I'm run Javascript on Speed </button>#}
{#        <p>This is a example</p>#}
{#        <div id="msg">Hello</div>#}
{##}
{#    </div>#}
{% endblock %}
