{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block title %}{% trans "Add a Page" %}{% endblock %}

{% block body %}
    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column">
        {% if category %}
            <h1>{% trans "Add a Page to "%} {{ category.name }}</h1>

            <form class="ui form" role="form"  id="page_form" method="post" action="{% url 'add_page' category.slug %}">
                {% csrf_token %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    <div class="field">
                        {{ field.errors }}
                        <label>{{ field.help_text }}</label>
                        {{ field }}
                    </div>
                {% endfor %}

                <button class="ui button" type="submit" name="submit">{% trans "Add Page" %}</button>
            </form>

        {% else %}
            <h1>{% trans "Add a Page" %}</h1>

            <form class="ui form" role="form" id="page_form" method="post" action="{% url 'add_page_uncategorized'%}">
                {% csrf_token %}

                <div class="field">
                    <label>{% trans "Select a Category" %}</label>
                    <select id="category_options" name="category_options">
                        {% for categorie in categories  %}
                            <option name="category">{{ categorie.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                   <div class="field">
                        {{ field.errors }}
                        <label>{{ field.help_text }}</label>
                        {{ field }}
                    </div>
                {% endfor %}

                <button class="ui button" type="submit" name="submit">{% trans "Add Page" %}</button>
            </form>
       {% endif %}
    </div>
    <div class="two wide column"></div>
</div>

{% endblock %}