{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block title %}{% trans "Add a Category" %}{% endblock %}

{% block body %}
    <h1 class="form-signin-heading">{% trans "Add a Category" %}</h1>

    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <form class="ui form" role="form" id="category_form" method="post" action="{% url 'add_category'%}">
                {% csrf_token %}
                {# cria campos escondidos#}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {#  cria campos visíveis#}
                {% for field in form.visible_fields %}
                    <div class="field">
                        {{ field.errors }}
                        <label>{{ field.help_text }}</label>
                        {{ field }}
                    </div>
                {% endfor %}

                <button class="ui button" type="submit" name="submit">{% trans  "Add a Category" %}</button>
            </form>
        </div>
        <div class="two wide column"></div>
    </div>
{% endblock %}