<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %} dir="rtl" {% endif %} xmlns="http://www.w3.org/1999/html">
{% load i18n %}
{% load staticfiles %}
{% load rango_extras %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "images/rango.ico" %}">


    <title>Rango - {% block title %}{% trans "How to Tango with Django!" %}{% endblock %}</title>

{#    {%block css%}#}
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        <link rel="stylesheet" href="{% static "css/about.css" %}" />
        <link rel="stylesheet" href="{% static "css/search.css" %}" />
        <link rel="stylesheet" href="{% static "css/tablesorter-semantic.css" %}" />
{#    {% endblock %}#}

{#    {% block js %}#}
        {# JQuery library #}
{#        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
        <script src="{% static "js/jquery_v1.11.1.js" %}"></script>

        {#Tablesorter#}
        <script src="{% static 'js/dataTables-semantic.js' %}"></script>
        <script src="{% static 'js/dataTables.semanticui.min.js' %}"></script>
        <script src="{% static 'js/ajax-semantic.min.js' %}"></script>

        {# others #}
        <script src="{% static "js/jquery.js" %}"></script>
        {# JS seção 18 e 19 tango: jquery e ajax #}
{#        <script src="{% static "js/rango-jquery.js" %}"></script>#}

        <script src="{% static 'js/rango-ajax.js' %}"></script>
{#    {% endblock %}#}

        {# semantic #}
        <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
        <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
{#        <script src="{% static 'semantic/dist/components/dropdown.js' %}"></script>#}
{#        <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/components/dropdown.css' %}">#}


</head>

<body>
    <section>
        <header>
            <div class="ui grid">
                <div class="tablet computer only row">
                    <nav class="ui center alingned fluid stackable inverted menu">
                        <div class="ui container">
                            {% include "rango/menu_computer.html" %}
                        </div>
                    </nav>
                </div>

                <div class="mobile only row">
                    <nav class="ui center alingned fluid stackable inverted menu">
                        <div class="ui container">
                            {% include 'rango/menu_disp_movel.html' %}
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <article class="ui grid">
            <div class="row">
                <div id="menu-categorias" class="three wide column ui vertical menu computer only">
                    <div id="cats">
                        {% block side_block %}
                            {% get_category_list category %}
                        {% endblock %}
                    </div>
                </div>

                <div class="thirteen wide column">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </article>

        <footer class="ui grid">
            <div class="row">
                    <div class="three wide column"></div>

                    <div class="ten wide column">
                        <div>
                            {% block footer %}{% endblock %}
                            Instituto Federal de Educação, Ciência e Tecnologia Catarinense - Câmpus Araquari <br>
                            Rodovia BR 280 - km 27 - Cx. Postal 21 - CEP 89245-000 - Araquari - SC - Fone (47) 3803-7200 - Fax (47) 3803-7201
                        </div>
                    </div>

                    <div class="three wide column"></div>
                </div>
        </footer>
    </section>
</body>
</html>