{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %}



{% block title %}{{ category_name }}{% endblock %}

{% block body %}
    <div class="ui grid">
        <div class="three wide column"></div>

        <div class="ten wide column">
            {% if category %}
                 <h1>{{ category_name }}</h1>

                {% if pages %}
                 <h4 class="panel panel-default">
                      <h4> {{ category_name }} {% trans "Pages" %}</h4>
                      <div class="ui middle aligned divided list">
                        {% for page in pages  %}
                            <div class="item">
                                <div class="right floated content">
                                    <div class="ui label">
        {#                                class="ui grey circular label"#}
                                    <i class="unhide icon"> </i>{{page.views}}</div>
                                </div>

                                <div class="left floated content">
                                    {% if page.img %}
                                        <img class="ui avatar image" src="{{ page.img.url }}">
                                    {% else %}
                                        <img class="ui avatar image" src="{% static 'images/page.png' %}">
                                    {% endif %}
{#                                    <a href="{{page.url}}" class="content">{{ page.title }}</a>#}
                                    <a href="{% url 'goto' %}?page_id={{page.id}}" class="content">{{ page.title }}</a>
                                </div>
                            </div>
                        {% endfor %}
                      </div>
                {% else %}
                     <div class="ui visible message">
                        {% blocktrans %}
                            <p><strong>No pages currently in category.</strong></p>
                         {% endblocktrans %}
                    </div>
                {% endif %}

            {% else %}
                <div class="ui visible message">
                    {% blocktrans %}
                        <p><strong>The specified category {{ category_name }} does not exist!</strong></p>
                    {% endblocktrans %}
                </div>
            {% endif %}

            <div class="ui grid">
                <div class="row centered aligned content">
                    <div  class="container-fluid">
                        {% if user.is_authenticated %}
                            <a class="ui blue basic button" href="{% url 'add_page' category.slug %}">{% trans "Add Page"%}</a>

                            <button class="ui blue basic button" id="likes" data-catid="{{category.id}}" >
                              <i class="thumbs outline up icon"></i>
                              Like
                            </button>

                            <button class="ui blue basic button" id="unlikes" data-catid="{{category.id}}">
                                <i class="thumbs outline down icon"></i>
                                Unlike
                            </button>
                        {% endif %}
                    </div>
                </div>

                <div class="row centered aligned content">
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui blue button">
                             <i class="thumbs outline up icon"></i> Likes
                        </div>
                        <a class="ui basic blue left pointing label" id="like_count">
                            {{ category.likes }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="three wide column"></div>

    </div>
{% endblock %}