{% load i18n %}
{% if cats %}
    {% for cat in cats %}
        {% if cat == act_cat %}
            <a href="{% url 'category' cat.slug %}" class="active teal item">{{ cat.name }}</a>
        {% else %}
            <a href="{% url 'category' cat.slug %}" class="item">{{ cat.name }}</a>
        {% endif %}
{#            <a href="{% url 'category' cat.slug %}" class="item">{{ cat.name }}</a>#}
    {% endfor %}

{% else %}
    {% blocktrans %}
        <strong>There are no category  present.</strong>
    {% endblocktrans %}
{% endif %}