{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %} <!-- Carrega todos as mídias do diretório static -->


{% block title %}{% trans "Delete Pages"%}{% endblock %}

{% block body %}
    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div class="ui visible message">
                 <form class="ui form" method="post">
                    {% csrf_token %}
                    <p>{% trans "Are you sure you want to delete the page "%}{{ page }}?</p>
                     <div class="row">
                        <input class="ui red button" type="submit" value="{% trans "Delete" %}" />
                        <a href="{% url 'view_pages' %}" class="ui blue button">{% trans "Cancel" %}</a>
                     </div>
                 </form>
            </div>
        </div>
        <div class="two wide column"></div>

{% endblock %}