{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block title %}{% trans "Edit Page " %}{% endblock %}

{% block body %}
    <h1 class="form-signin-heading">{% trans "Edit the Page " %}{{ page.title }}</h1>

    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column ui segment">
            <form class="ui form" method="post" action="{% url 'edit_page' page.id %}">
                {% csrf_token %}

                <div class="ui field">
                   {{ form.views }}
                   {% if form.views.errors %}
                       {{ form.views.errors }}
                   {% endif %}
                </div>

                <div class="ui field">
                   {{ form.title }}
                   {% if form.title.errors %}
                       {{ form.title.errors }}
                   {% endif %}
                </div>
                <div class="ui field">
                   {{ form.category }}
                   {% if form.category.errors %}
                       {{ form.category.errors }}
                   {% endif %}
                </div>
                <div class="ui field">
                   {{ form.url }}
                   {% if form.url.errors %}
                       {{ form.url.errors }}
                   {% endif %}
                </div>
                <div class="ui field">
                   {{ form.img }}
                   {% if form.img.errors %}
                       {{ form.img.errors }}
                   {% endif %}
                </div>


                <input class="ui button" type="submit" name="submit" value="{% trans  "Edit" %}"/>
            </form>
        </div>
        <div class="two wide column"></div>
    </div>
{% endblock %}