{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block title %}{% trans "Edit Category " %}{% endblock %}

{% block body %}
    <h1 class="form-signin-heading">{% trans "Edit the Category " %}{{ category.name }}</h1>

    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column ui segment">
            <form class="ui form" method="post" action="{% url 'edit_category' category.id %}">
                {% csrf_token %}

                <div class="ui field">
                   {{ form.views }}
                   {% if form.views.errors %}
                       {{ form.views.errors }}
                   {% endif %}
                </div>
                <div class="ui field">
                   {{ form.likes }}
                   {% if form.likes.errors %}
                       {{ form.likes.errors }}
                   {% endif %}
                </div>
                <div class="ui field">
                   {{ form.name }}
                   {% if form.name.errors %}
                       {{ form.name.errors }}
                   {% endif %}
                </div>
                <div class="ui field">
                   {{ form.img }}
                   {% if form.img.errors %}
                       {{ form.img.errors }}
                   {% endif %}
                </div>

                <input class="ui button" type="submit" value="{% trans  "Edit" %}" />
            </form>
        </div>
        <div class="two wide column"></div>
    </div>
{% endblock %}