{% extends 'rango/base.html' %}
{% load staticfiles %} <!-- Carrega todos as mídias do diretório static -->
{% load i18n %}

{% block title %} {% trans "Home"%} {% endblock %}

{% block body %}
    <div class="row">
        {% if user.is_authenticated %}
            <h1>{% trans "Rango says ... hello "%}{{ user.username }}</h1><br/>
        {% else %}
            <h1>{% trans "Rango says ... hello world!"%}</h1><br/>
        {% endif %}
    </div>

    <div class="ui grid">
    <div class="row">
        <div class="two wide column"></div>
{#        <div class="five wide column">#}
        <div class="ui blue segment">
            <h4> {% trans "Top Five Categories"%} </h4>
            {% if categories %}
                <div class="ui middle aligned divided list">
                {% for categorie in categories  %}
                    {# target="_blank" -> abre o link em uma nova aba          #}
                    <div class="item">
                        <div class="right floated content">
                            <div class="ui label">
                            <i class="thumbs outline up icon"> </i>{{categorie.likes}}</div>
                        </div>
                        <div class="left floated content">
                            {% if categorie.img %}
                                <img class="ui avatar image" src="{{ categorie.img.url }}">
                            {% else %}
                                <img class="ui avatar image" src="{% static 'images/paisagem.png' %}">
                            {% endif %}
                            <a target="_blank" href="{% url 'category' categorie.slug %}" class="content"> {{ categorie.name }}</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
                {% else %}
                    <div class="ui visible message">
                        {% blocktrans %}
                            <p><strong>There are no categories present.</strong></p>
                        {% endblocktrans %}
                    </div>
                {% endif %}
            </div>


        <div class="two wide column"></div>

{#        <div class="five wide column">#}
            <div class="ui blue segment">
                <h4>{% trans "Top Five Pages"%}</h4>
                {% if pages %}
                    <div class="ui middle aligned divided list">
                        {% for page in pages %}
                            <div class="item">
                                <div class="right floated content">
                                    <div class="ui label">
        {#                                class="ui grey circular label"#}
                                    <i class="unhide icon"> </i>{{page.views}}</div>
                                </div>

                                <div class="left floated content">
                                    {% if page.img %}
                                        <img class="ui avatar image" src="{{ page.img.url }}">
                                    {% else %}
                                        <img class="ui avatar image" src="{% static 'images/page.png' %}">
                                    {% endif %}
        {#                            <a href="{{page.url}}" class="content">{{ page.title }}</a>#}
                                    <a href="{% url 'goto' %}?page_id={{page.id}}" class="content">{{ page.title }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="ui visible message">
                        {% blocktrans %}
                            <p><strong>There are no pages present.</strong></p>
                        {% endblocktrans %}
                    </div>
                {% endif %}
            </div>
        <div class="two wide column"></div>
    </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="row">{% trans "Visits: "%} {{ visits }} </div>
{% endblock %}