{% load i18n %}


{#<div class="item">#}
{#    {% get_available_languages as LANGUAGES %}#}
{#    {% get_current_language as LANGUAGE_CODE %}#}
{##}
{#    <form class="ui form" action="{% url 'set_language' %}" method="post">#}
{#        {% csrf_token %}#}
{##}
{#        <input name="next" type="hidden" value="{{ redirect_to }}" />#}
{#        <select name="language" class="ui dropdown">#}
{#            {% get_language_info_list for LANGUAGES as languages %}#}
{#            {% for language in languages %}#}
{#                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>#}
{#                    {{ language.name_local }} ({{ language.code }})#}
{#                </option>#}
{#            {% endfor %}#}
{#        </select>#}
{#                                    <span class="input-group-btn">#}
{#                                        <input class="btn btn-default" type="submit" value="Go"/>#}
{#                                    </span>#}
{#    </form>#}
{#</div>#}

<div class="item">
    <form class="ui form" id="user_form" method="post" action="{% url 'search' %}">
        {% csrf_token %}
        <div class="ui icon input">
            <input type="text" placeholder="Search" name="query" value="" id="query" >
            <i class="search link icon"></i>
        </div>
    </form>
</div>
<div class="ui dropdown item ">
    <i class="bars icon"></i>
    <span class="text">Menu</span>
    <div class="menu">
        <a href="{% url 'index' %}" class="ui item">{% trans "Home"%}</a>
        <a href="{% url 'about' %}" class="ui item">{% trans "About"%}</a>

        {% if user.is_authenticated %}
            <div class="ui dropdown item">
                {% trans "View" %}
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="{% url 'view_categories' %}" class="item">{% trans "Categories"%}</a>
                    <a href="{% url 'view_pages' %}" class="item">{% trans "Pages"%}</a>
{#                                          <a href="{% url 'view_users' %}" class="item">Users</a>#}
                </div>
            </div>

            <div class="ui dropdown item">
                {% trans "Add"%}
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="{% url 'add_category' %}" class="item">{%trans "Category"%}</a>
                    <a href="{% url 'add_page_uncategorized' %}" class="item">{%trans "Page"%}</a>
                </div>
            </div>


            <div class="ui dropdown item">
                {{ user.username }}
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="{% url 'profile' %}" class="item">{%trans "Profile"%}</a>
                    <a href="{% url 'admin:index' %}" class="item">Admin</a>
                    <a href="{% url 'auth_logout' %}?next=/rango/" class="item">Sign out</a>
                </div>
            </div>

        {% else %}
            <a href="{% url 'register' %}" class="item">Sign up</a></li>
            <a href="{% url 'auth_login' %}" class="item">Sign in</a></li>
        {% endif %}
    </div>
</div>
