{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %}


{% block title %}{% trans "Register"%}{% endblock %}

{% block body %}
    <h1>{% trans "Register Here"%}</h1>

     <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column">

        {% if not registered %}
            <div class="ui segment">
                <form class="ui form" id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="field" id="label-register">
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}
                    </div>
                    <button type="submit" class="ui button">{% trans "Register"%}</button>
                </form>
            </div>
             <div class="ui horizontal divider">{% trans "or"%}</div>

            <a class="ui circular google plus icon button" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">
              <i class="google plus icon"></i>
            </a>

            <a class="ui circular facebook icon button" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" >
              <i class="facebook icon"></i>
            </a>

        {% else %}
{#            Rango diz: <strong>Obrigado por registrar-se!</strong>#}
            <div class="ui visible green message">
                {% blocktrans %}
                    <div class="header">
                        Registration Complete
                    </div>
                    <p><strong>You are now registered. </strong></p>
                {% endblocktrans %}

                    <a href="{% url 'index' %}">{% trans "Home"%}
                    <i class="home icon"></i></a>

            </div>
        {% endif %}
        </div>
        <div class="two wide column"></div>
    </div>
{% endblock %}