{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %} {% trans "Search"%} {% endblock %}

{% block body %}
    <div class="page-header">
        <h1>{% trans "Search with Rango"%}</h1>
    </div>

    <div class="row">

        <div class="panel panel-primary">
            <br/>

{#            <form class="form-inline" id="user_form" method="post" action="{% url 'search' %}">#}
{#                {% csrf_token %}#}
{#                <!-- Display the search form elements here -->#}
{#                <input class="form-control" type="text" size="50" name="query" value="" id="query" />#}
{#                <input class="btn btn-primary" type="submit" name="submit" value="Search" />#}
{#                <div class="input-group stylish-input-group">#}
{#                    <input type="text" class="form-control" placeholder="Search" name="query" value="" id="query" >#}
{#                    <span class="input-group-addon">#}
{#                        <button type="submit">#}
{#                            <span class="glyphicon glyphicon-search"></span>#}
{#                        </button>#}
{#                    </span>#}
{#                </div>#}
{#                <br />#}
{#            </form>#}

            <div class="panel">
                {% if result_list %}
                    <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Results for "%} {{ query }}</h3>
                    <!-- Display search results in an ordered list -->
                    <div class="panel-body">
                        <div class="list-group">
                            {% for result in result_list %}
                                <div class="list-group-item">
                                    <h4 class="list-group-item-heading"><a href="{{ result.link }}">{{ result.title }}</a></h4>
                                    <p class="list-group-item-text">{{ result.summary }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
    </div>
{% endblock %}