{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %} <!-- Carrega todos as mídias do diretório static -->


{% block title %}{% trans "Categories"%}{% endblock %}

{% block body %}
     <h1>{% trans "Categories"%}</h1>

     <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            {% if categories %}
                    <table class="ui blue table" id="tablesorter-categories">
                        <thead>
                            <tr>
                                {% blocktrans %}
                                    <th>Category</th>
                                    <th>Likes</th>
                                    <th data-orderable="false">Edit</th>
                                    <th data-orderable="false">Delete</th>
                                {% endblocktrans %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for categorie in categories  %}
                            <tr>
                                <td>{{ categorie.name }}</td>
                                <td><i class="thumbs outline up icon"></i> {{categorie.likes}}</td>
                                <td><a href="{% url 'edit_category' categorie.id %}"><i class="write icon"></i></a></td>
                                <td><a href="{% url 'delete_category' categorie.id %}" name="delete" id="{{ categorie.id }}"><i class="trash icon"></i></a></td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
            {% else %}
                <div class="panel panel-info">
                    {% blocktrans %}
                        <div class="panel-heading">Category</div>
                        <div class="panel-body">There are no categories present.</div>
                    {% endblocktrans %}
                </div>
            {% endif %}
        </div>
        <div class="two wide column"></div>
    </div>
{% endblock %}
