{% extends 'rango/base.html' %}
{% load i18n %}
{% load staticfiles %} <!-- Carrega todos as mídias do diretório static -->


{% block title %}{% trans "Pages"%} {% endblock %}

{% block body %}
    <h1>{% trans "Pages"%}</h1>

    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            {% if pages %}
                    <table class="ui blue table"  id="tablesorter-pages">
                        <thead class="thead-bold">
                            <tr>
                                {% blocktrans %}
                                    <th>Page</th>
                                    <th>Category</th>
                                    <th>Views</th>
                                    <th data-orderable="false">Edit</th>
                                    <th data-orderable="false">Delete</th>
                                {% endblocktrans %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for page in pages %}
                                <tr>
                                    <td>{{ page.title }}</td>
                                    <td>{{ page.category }}</td>
                                    <td><i class="unhide icon"></i> {{page.views}}</td>
                                    <td><a href="{% url 'edit_page' page.id %}"><i class="write icon"></i></a></td>
                                    <td><a href="{% url 'delete_page' page.id %}" name="delete" id="{{ page.id }}"><i class="trash icon"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="panel panel-info">
                    {% blocktrans %}
                        <div class="panel-heading">Page</div>
                        <div class="panel-body">There are no pages present.</div>
                    {% endblocktrans %}
                </div>
            {% endif %}
        </div>
        <div class="two wide column"></div>
    </div>
{% endblock %}
